apiVersion: apps/v1
kind: Deployment
metadata:
  name: tinyhouse-server-deployment
spec:
  replicas: 1
  selector:
    matchLabels:
      app: tinyhouse-server
  template:
    metadata:
      labels:
        app: tinyhouse-server
    spec:
      containers:
        - name: tinyhouse-server
          image: webmakaka/tinyhouse-server
          env:
            - name: MONGO_URI
              value: 'mongodb://tinyhouse-mongo-svc:27017'
            - name: PORT
              value: '3000'
            - name: PUBLIC_URL
              value: 'https://tinyhouse.dev'
            - name: GOOGLE_CLIENT_ID
              valueFrom:
                secretKeyRef:
                  name: google-client-id
                  key: GOOGLE_CLIENT_ID
            - name: GOOGLE_CLIENT_SECRET
              valueFrom:
                secretKeyRef:
                  name: google-client-secret
                  key: GOOGLE_CLIENT_SECRET
            - name: GOOGLE_GEOCODING_API_KEY
              valueFrom:
                secretKeyRef:
                  name: google-geocoding-api-key
                  key: GOOGLE_GEOCODING_API_KEY
            - name: STRIPE_SECRET_KEY
              valueFrom:
                secretKeyRef:
                  name: stripe-secret-key
                  key: STRIPE_SECRET_KEY
